.logo{
    font-size: 30px;
    background-color: #7F2CCB;
    width: max-content;
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    font-weight: bold;
    margin-bottom: 60px;
}

.logo a{
    color: whitesmoke;
    text-decoration: none;
}

.menu{
    position: fixed;
    right: 20px;
    background-color: #7F2CCB;
    padding: 5px;
    z-index: 20;
}

.menu img{
    width:38px;
    cursor:pointer
}